body {
  font-family: 'Roboto', sans-serif;
  background: #383838;
  color: #d9d9d9;
  margin: 0;
  padding: 0;
}

#home a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    padding-left: 5px;
    padding-top: 5px;
    color:#d9d9d9;
    border: 2px solid #d9d9d9;
    transition: background-color 0.2s;
}

#home a:hover {
    background-color: #007acc;
}