body {
  font-family: 'Roboto', sans-serif;
  background: #383838;
  color: #d9d9d9;
  margin: 0;
  padding: 0;
}

#home {
    display: inline-block;
    text-decoration: none;
    padding: 2rem;
    color:#d9d9d9;
    border: 2px solid #d9d9d9;
}

#home a {
    text-decoration: none;
    color: #d9d9d9;
}